#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEFAULT";

            bindings = <
&kp ESC     &kp Q   &kp C   &kp H   &kp P   &kp V                                   &kp UP                  &kp K   &kp Y   &kp O   &kp J       &kp FSLH    &kp BSPC
&kp TAB     &kp R   &kp S   &kp N   &kp T   &kp G                       &kp LEFT    &kp ENTER   &kp RIGHT   &kp W   &kp U   &kp E   &kp I       &kp A       &kp SEMI 
&kp LGUI    &kp X   &kp M   &kp L   &kp D   &kp B   &kp SPACE                       &kp DOWN                &kp Z   &kp F   &kp SQT &kp COMMA   &kp DOT     &kp ENTER
                            &mo 2   &kp LCTRL   &kp SPACE                                                   &kp LALT    &kp RSHFT   &mo 1
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &kp N1      &kp N2      &kp N3  &kp N4  &kp N5                                  &trans                  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans 
&trans  &kp MINUS   &kp EQUAL   &kp LBKT  &kp RBKT  &kp BSLH                    &trans  &mkp LCLK  &trans       &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6
&trans  &kp ESC     &kp LGUI    &kp LALT  &kp CAPS  &kp SINGLE_QUOTE &trans             &trans                  &kp F7  &kp F8  &kp F9  &kp F10 &kp F11 &kp F12
                                &mo 3     &trans    &trans                                                      &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT                       &trans                  &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR    &kp RPAR    &trans
&trans  &kp UNDER   &kp PLUS    &kp LBRC    &kp RBRC    &kp PIPE                &trans  &mkp LCLK  &trans       &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp GRAVE   &kp TILDE
&trans  &kp ESC     &kp LGUI    &kp LALT    &kp CAPS    &kp APOS    &trans              &trans                  &kp HOME    &kp END     &kp PG_UP   &kp PG_DN   &kp PSCRN   &kp DEL
                                &trans      &trans      &trans                                                  &trans      &trans      &mo 3
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        layer_3 {
            display-name = "ADHOC";
            bindings = <
&trans      &none   &none   &none       &none       &none                               &trans                  &none           &none       &none           &none      &none    &trans
&trans      &none   &none   &none       &none       &none                       &trans  &mkp LCLK  &trans       &none           &kp C_MUTE  &kp C_VOL_DN    &kp C_VOL_UP    &none   &none
&trans      &none   &none   &none       &none       &none           &trans              &trans                  &bootloader     &none       &none           &none       &none   &trans
                            &trans      &trans      &trans                                                      &trans          &trans      &trans
            >;

            sensor-bindings = <&rgb_encoder>;
        };
    };
};
